<form class="{{cssClass}} dune domain flexcol" autocomplete="off">
  <section class="sheet-body flexcol">
    <div class="flexrow">
      <label for="prim">{{localize 'DUNE.primary'}}</label>
      <input name="system.primary" type="checkbox" id="prim" {{#if data.system.primary }}checked{{/if}}/>
    </div>
    <div class="flexrow">
      <label for="area">{{localize 'DUNE.domain.area'}}</label>
      <input name="system.area" id="area" type="text" value="{{data.system.area}}"/>
    </div>
    <div class="flexrow">
      <label for="field">{{localize 'DUNE.domain.field'}}</label>
      <input name="system.field" id="field" type="text" value="{{data.system.field}}"/>
    </div>
    <div class="flexrow">
      <label for="details">{{localize 'DUNE.domain.details'}}</label>
      <input name="system.details" id="details" type="text" value="{{data.system.details}}"/>
    </div>
  </section>
</form>
