<form class="{{cssClass}} dune talent flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1 class="name">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DUNE.Name' }}" />
    </h1>
  </header>
  <section class="sheet-body flexcol">
    <div class="description">
      <textarea rows="8" name="system.description">{{data.system.description}}</textarea>
    </div>
    <div class="rule">
      <textarea rows="8" name="system.rule">{{data.system.rule}}</textarea>
    </div>
    <div class="details flexcol">
      <div class="flexrow faction">
        <label for="faction-only">{{ localize 'DUNE.items.faction' }}</label>
        <input name="system.faction" type="text" value="{{item.data.system.faction}}" id="faction-only"
          placeholder="{{ localize 'DUNE.items.none' }}" {{#if actor }}readonly{{/if}} />
      </div>
      {{#if (or (not actor) data.system.forSkill) }}
      <div class="flexrow skill">
        <span class="flexrow">
          <label for="for-skill">{{ localize 'DUNE.items.skill' }}</label>
          <input name="system.forSkill" id="for-skill" type="checkbox" {{#if item.data.system.forSkill}}checked{{/if}}
            {{#if actor }}disabled{{/if}} />
        </span>
        <select name="system.skill" {{#if data.system.forSkill}}required{{else}}disabled{{/if}}>
          <option value="" disabled {{#unless data.system.skill}}selected{{/unless}}>{{ localize 'DUNE.items.choose' }}
          </option>
          <option {{#if (eq data.system.skill 'Battle' )}}selected{{/if}} value="Battle">{{ localize 'DUNE.battle' }}
          </option>
          <option {{#if (eq data.system.skill 'Communicate' )}}selected{{/if}} value="Communicate">{{ localize
            'DUNE.communicate' }}</option>
          <option {{#if (eq data.system.skill 'Discipline' )}}selected{{/if}} value="Discipline">{{ localize
            'DUNE.discipline' }}</option>
          <option {{#if (eq data.system.skill 'Move' )}}selected{{/if}} value="Move">{{ localize 'DUNE.move' }}</option>
          <option {{#if (eq data.system.skill 'Understand' )}}selected{{/if}} value="Understand">{{ localize
            'DUNE.understand' }}</option>
        </select>
      </div>
      {{/if}}
      {{#if (or (not actor) data.system.forDrive) }}
      <div class="flexrow drive">
        <span class="flexrow">
          <label for="for-drive">{{ localize 'DUNE.items.drive' }}</label>
          <input name="system.forDrive" id="for-drive" type="checkbox" {{#if item.data.system.forDrive}}checked{{/if}}
            {{#if actor }}disabled{{/if}} />
        </span>
        <select name="system.drive" {{#if data.system.forDrive}}required{{else}}disabled{{/if}}>
          <option value="" disabled {{#unless data.system.drive}}selected{{/unless}}>{{ localize 'DUNE.items.choose' }}
          </option>
          <option {{#if (eq data.system.drive 'Duty' )}}selected{{/if}} value="Duty">{{ localize 'DUNE.duty' }}</option>
          <option {{#if (eq data.system.drive 'Faith' )}}selected{{/if}} value="Faith">{{ localize 'DUNE.faith' }}
          </option>
          <option {{#if (eq data.system.drive 'Justice' )}}selected{{/if}} value="Justice">{{ localize 'DUNE.justice' }}
          </option>
          <option {{#if (eq data.system.drive 'Power' )}}selected{{/if}} value="Power">{{ localize 'DUNE.power' }}
          </option>
          <option {{#if (eq data.system.drive 'Truth' )}}selected{{/if}} value="Truth">{{ localize 'DUNE.truth' }}
          </option>
        </select>
      </div>
      {{/if}}
      {{#if actor }}
      <div class="flexrow note">
        <label for="player-note">{{ localize 'DUNE.items.note' }}</label>
        <input name="system.note" id="player-note" type="text" value="{{data.system.note}}" />
      </div>
      {{/if}}
    </div>
  </section>
</form>